*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 550;
    border-radius: 5px;
    line-height: 20px;
}
.container{
    width: 70%;
    min-height: 100vh;
    margin: 5px auto;
    background-color: rgb(231, 230, 230);
    
    
}
nav{
  
    display: flex;
    justify-content: space-around;
   
    
}
nav li{
   
    list-style-type: none;
    padding: 10px 0px 10px 0px;
    
    
}
nav li a {
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: whitesmoke;
}
header img{
    width: 100%;
    height: 20vh;
    min-height: 100px;
    object-fit:cover ;
    
    }
section{
    display:grid;
    grid-template-columns:repeat(auto-fit, 150px);
    width: 70%;
    margin: auto;
    grid-gap: 5px;
    justify-content: center;
    
}
div.img{
    position: relative;
}
div.img img{
    width: 150px;
    object-fit: cover;
    
    
}
div.img::before{
    content: "";
    position: absolute;
    top:0%;
    right: 0%;
    left: 0%;
    bottom: 0;
    background-color: black;
    opacity: .4;
    margin-bottom: 3px;
    border-radius: 5px;
}
div.img:hover::before{
    opacity: .2;
}
div.img::after{
    content: "";
   background-image: url(magnifying-glass-search-button-svgrepo-com.svg) ;
   position: absolute;
   top:40%;
   right: 25%;
   width: 60px;
   height: 60px;    
   
   background-size:40px 40px ;
   background-repeat: no-repeat;
   opacity: .3;
}
div.img:hover::after{
    opacity: .6;
    top:40%;
    right:30%;
    background-size: 60px 60px;
}
div.background{
    background-color: rgba(231, 230, 230, .9);
    content: "";
    position: fixed;
    z-index:100;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    

}
div.background.active{
    display: grid;
    place-items: center;
    opacity: 1;

    
    
    
}
#mainImg{
    max-width: 70vw;
    max-height: 80vh;
    box-shadow: 3px 5px 10px   rgba(10, 10, 10, .3);
    
    
    


}
@media only screen and (max-width: 728px){ 
    .container{
        width: 100%;
        }
    section{
        width: 90%;
    }
    div.img::before{
        background-color: whitesmoke;
        outline: 1px solid black;
        opacity: .3;
    }
    
}
